.one{
    padding: 0 important;
}

.sn1{
    color: white;
    background-color: violet;
    border: none;
    width: 100%;
}
.sn2{
    color: red;
    background-color: white;
    border: none;
    /* box-shadow: 0px 0px 3px gray; */
    width: 100%;
}
.pd{
    padding: 30px 5px;
}
.mg{
    margin-bottom: 15px;
}

/* .wt{
    width: 50%;
} */
.fix{
    width: 50% !important;
}

.cd{
    width: 300px;
}